<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/accueil.css">
    <title>Accueil</title>
</head>
<body>
    <header>
        <h2 class="logo">Map</h2>
        <nav class="navigation">
            <a href="{{ url_for('routes.index') }}">Accueil</a>
            <a href="#">Services</a>
            <a href="#">Map</a>
            <a href="mailto:mizaah.833@gmail.com">Contact</a>
        </nav>
    </header>
</body>
</html>