<h2>Ajouter un établissement</h2>
<form method="POST">
    <input name="nom" placeholder="Nom" required><br>
    <input name="adresse" placeholder="Adresse" required><br>
    <input name="ville" placeholder="Ville" required><br>
    <input name="latitude" placeholder="Latitude" required><br>
    <input name="longitude" placeholder="Longitude" required><br>
    <select name="categorie_id" required>
        {% for cat in categories %}
            <option value="{{ cat.id }}">{{ cat.nom }}</option>
        {% endfor %}
    </select><br>
    <button type="submit">Ajouter</button>
</form>