<h2>Modifier un utilisateur</h2>
<form method="POST">
    <input name="nom" value="{{ utilisateur.nom }}" required><br>
    <input name="prenom" value="{{ utilisateur.prenom }}" required><br>
    <input name="nom_utilisateur" value="{{ utilisateur.nom_utilisateur }}" required><br>
    <input name="mail_util" value="{{ utilisateur.mail_util }}" required><br>
    <label><input type="checkbox" name="statut" {% if utilisateur.statut %}checked{% endif %}> Statut actif</label><br>
    <input name="mdp" type="password" placeholder="Laisser vide pour ne pas changer le mot de passe"><br>
    <button type="submit">Modifier</button>
</form>